{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <br>
            <img src="https://images.pexels.com/photos/331989/pexels-photo-331989.jpeg?auto=compress&cs=tinysrgb&w=600" style="max-width: 550px; width: 100%;" class="img img-fluid", alt="Stock image of a haircut">
        </div>
        <div class="col-sm text-center">
            <br>
            <h2>Welcome to Brow Salon</h2>
            <p class="text-center" style="text-indent: 50px;">At Brow Salon, we believe that beauty is more than just a look—it's a feeling. Our salon is a place where you can relax, rejuvenate, and leave feeling your absolute best. With a team of skilled stylists, and beauty professionals, we are dedicated to providing exceptional hair and beauty services tailored to your unique style.</p>
            <br>
            <h2>Visit us</h2>
            <p>📍 Address: 541 Main St NW, Bourbonnais, IL 60914 <br>
                📞 Phone: (815)304-5985 <br>
                📧 Email: browsalon3@gmail.com</p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.8213884466472!2d-87.885345!3d41.16024859999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880dddb7eed563e5%3A0xfe52e30bdb697614!2sBourbonnais%20Towne%20Centre%20Shopping%20Center%2C%20541%20Main%20St%20NW%2C%20Bourbonnais%2C%20IL%2060914!5e0!3m2!1sen!2sus!4v1743176412384!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<div class="clear" style=" clear: both; height: 200px;"></div><!-- Clear dvided to help with spacing-->



{% endblock %}