{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center">
            <h1>Your Shopping Cart</h1>

            <div class="product-list">
        
           
        
            {% for item in cart_items %}
            <div class="product-item">
                <p>                 
                    <img 
                    class=" small_img" 
                    src="{{ item.product.image.url }}" 
                    width="100" 
                    alt="{{ item.product.name }}"/>
                    {{ item.product.name }} ({{ item.quantity }})    Price: ${{ item.product.cost }}</p>
                <a type="button" class="btn" href="{% url 'add_to_cart' item.product.id %}">+</a>
                <a type="button" class="btn" href="{% url 'remove_from_cart' item.id %}">-</a>
            </div>
            <br>
            {% empty %}
            <p>Your cart is empty.</p>
            {% endfor %}
        
            </div>
        
            <p>Total Price: ${{ total_price }}</p>
        
        <div class="container-fluid">
            <a type="button" class="btn" href="{% url 'shop' %}">Continue Shopping</a>
            <a type="button" class="btn" href="{% url 'place_order' %}">Place Order</a>
        </div>
        
        
        </div>
        <div class="col-sm" style="text-align: right;">
            <br>
            <img class="img-fluid" src="https://images.pexels.com/photos/8468162/pexels-photo-8468162.jpeg?auto=compress&cs=tinysrgb&w=600" style="width: 100%;
        max-width: 350px;" class="img img-fluid" alt="Stock image of salon products">
        </div>
    </div>
</div>

<div class="clear" style=" clear: both; height: 150px;"></div>Clear dvided to help with spacing



{% endblock %}