{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <!-- Login form -->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" 
    style="background-color: #f2f2f0; border: 2px solid #5b6e74; color: #0d0d0d;">
        <h1 style="text-align: center;"><span class="fw-bold fs-1">Brow Salon</span></h1>

        {% csrf_token %}  <!-- CSRF token for security -->

        <!-- Login heading -->
        <h3 class="text-center" style="color: #5b6e74;">Login</h3>
        <hr style="border-color: #5b6e74;">

        <!-- Display error/success messages -->
        {% if messages %}
        <div class="alert alert-primary" role="alert" style="background-color: #bde8f1; color: #0d0d0d;">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Username input field -->
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter username" required>
        </div>

        <!-- Password input field -->
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
        </div>

        <!-- Link to registration page -->
        <p>Don't have an account <a href="{% url 'register' %}">Register</a> </p>

        <!-- Link to forgot passowrd page -->
        <p>Forgot your password <a href="{% url 'reset_password' %}">Reset Password</a> </p>

        <!-- Submit button -->
        <button type="submit" class="btn w-100 mt-3" 
        style="background-color: #819fa7; color: white; border: none;">Submit</button>
    </form>
</div>

<div class="clear" style=" clear: both; height: 165px;"></div><!-- Clear dvided to help with spacing-->

{% endblock %}