{% extends "base.html" %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center"><br>
            <img src="https://lh3.googleusercontent.com/p/AF1QipMPOUHnYneU9jwdCSM0A7sIvzj1Ev0RM2w0-6wM=s680-w680-h510" class="img-fluid" alt="Stock photo of a salon">
            <br><br>
            <a class="btn text-center" type="button" href="{% url 'logout' %}" style="margin-right: 30px"> Log Out</a>
            <a class="btn text-center" type="button" href="{% url 'new_password' user.email %}" style="margin-left: 25px"> Change Password</a>
        </div>
        <div class="col-sm text-center"><br>
            <h2 class="text-center">Order History</h2><br>
            <table class="table text-center container-fluid">
                <thead>
                  <tr>
                    <th scope="col">Order Number</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Items</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="text-center">
                        {% csrf_token %}  <!-- CSRF token for security -->
                    
                            <td>{{order.0}}</td>
                            <td>{{order.1}}</td>
                            <td>{{order.2}}</td>
                      </tr>
                      {% endfor %}
                </tbody>
        
        </div>
    </div>
</div>

{% endblock %}